<h3>registration</h3>

<form action="/users" method="POST">
  <input type="text" name="user[username]" placeholder="username">
  <input type="password" name="user[password]" placeholder="password">
  <input type="password" name="password_confirmation" placeholder="password confirmation">
  <input type="submit" value="register">@
</form>
