<h1>Welcome to Sinatra Overflow</h1>

<a href='/users/new'>registration</a><br><br>
<a href='/sessions/new'>login</a><br><br>

<form action="/sessions" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Logout">
</form>

<div class='post-container'>
  <% @posts.each do |post| %>
    <strong><p><%= post.title %></p></strong>
    <p><%= post.content  %></p>
    <p><%= post.user.username  %></p>
    <form action="/votes" method="POST">
      <input type="hidden" name="_method" value="PUT">
      <input type="submit" value="upvote">
    </form>
  <% end %>
</div>

